<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0495f19d08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="navbar.css">
    <title>Shivam-kumar My Resume portfolio</title>
</head>

<body>
    <div class="mainnav">
        <div class="navbar ">
            <div class="logo">
                <img src="https://www.clipartmax.com/png/full/257-2579934_%C2%A0-freelancer.png" alt="">
            </div>
            <div class="hamberg">
                <span id="hide"><i class="fa-solid fa-circle-xmark"></i></span>
                <span id="show"><i class="fa-solid fa-bars"></i></span>
            </div>
            <ul class="menu">
                <li class="list"> <a href="/">HOME</a></li>
                <li class="list"> <a href="/about">ABOUT US</a></li>
                <li class="list"><a href="/resume">MY-RESUME</a></li>
                <li class="list"> <a href="/project">MY-PROJECT</a></li>
                <li class="list"> <a href="/contact">CONTACT-US</a></li>
                <div id="bar"></div>
            </ul>
        </div>
        <div class="body">
            {{{body}}}
        </div>
        <div>
            <footer>
                <p>&copy;&nbsp;All Right Reserved By Techno Gyan </p>
            </footer>
        </div>
</body>
<script src="/script/navbar.js"></script>

</html>