<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="../home.css">
    <title>Home</title>
</head>
<body>
    <div class="imgdiv">
        <img src="https://www.clipartmax.com/png/full/257-2579934_%C2%A0-freelancer.png" alt="" srcset="">
        <div class="paragraph">
              <h1> Welcome to My Portfolio</h1>
              <p>  Hii I'm Shivam Kumar A Full Stack Web Developer Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic perferendis quisquam itaque, corporis ipsam beatae autem blanditiis. Provident, impedit illo.</p>
        </div>
    </div>
</body>
</html>