<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="myresume.css">
    <title>Document</title>
</head>
<body>
     <table>
        <tbody>
            <tr>
                <td>
                    <table class="container">
                        <tr>
                            <th>
                                <div class="lefttringle"></div>
                                <div class="righttringle"></div>
                                <div id="circle">
                                    <img src="" alt="">
                                </div>
                                <div class="name">
                                    <h6>CURRICULUM VITAE</h6>
                                    <h1>Shivam Kumar</h1>
                                </div>
                            </th>
                        </tr>
                        <tr class="aboutcontainer">
                            <td>
                                <div class="sidenav">
                                    <div class="contact">
                                        <h3>My Contact</h3>
                                        <p>E-Mail : shivamk99623@gmail.com </p>
                                        <p> Mo-No: +91 6306151729</p>
                                        <p> Address: Nevadhiya , Jaunpur , U.P</p>
                                        <p> Pin-Code: 222128</p>
                                        <h3>Qualification</h3>
                                        <p> 1 High School&nbsp;&nbsp;&nbsp;&nbsp; (2016)&nbsp;&nbsp;&nbsp;&nbsp; 75%</p>
                                        <p> 2 Intermediate&nbsp;&nbsp;&nbsp;&nbsp; (2018)&nbsp;&nbsp;&nbsp;&nbsp; 67%
                                        </p>
                                        <p> 3 B.Sc (C.S) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2021) &nbsp;&nbsp;&nbsp;
                                            70%</p>
                                        <h3>Personal Details</h3>
                                        <p> Name
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;: &nbsp; Shivam kumar</p>
                                        <p> Father’s Name&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; Vijay Kumar
                                        </p>
                                        <p> Date of
                                            Birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;
                                            07
                                            jan, 2000</p>
                                        <p> Gender
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            : &nbsp;&nbsp;&nbsp;&nbsp;male</p>
                                        <p> Marital Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Single
                                        </p>
                                        <p> Language Known :&nbsp;&nbsp;&nbsp;&nbsp; English, Hindi</p>

                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="rightnav">
                                    <div class="">
                                        <h3>CAREER OBJECTIVE</h3>
                                        <p>Self-motivated, highly passionate and hardworking fresher
                                            looking for an opportunity to work in a challenging organization
                                            to utilize my skills and knowledge to work for the growth of the
                                            organisation.</p>
                                        <h3>TECHNICAL SKILLS</h3>
                                        <p> <strong> Web Technology</strong> : HTML, CSS, REACT, ExpressJS</p>
                                        <p> <strong> Language
                                            </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            JAVASCRIPT
                                        </p>
                                        <p> <strong> Basic Language&nbsp;</strong> : C , C++</p>
                                        <p> <strong> Database</strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            MongoDB</p>
                                        <p> <strong> Other
                                            </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                                            Adobe Photoshop, MSword</p>
                                        <h3>PROJECT</h3>
                                        <h4> Project 1 &nbsp; &nbsp; &nbsp;:</h4>
                                        <h4> Title&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: iRememberBookAPP
                                        </h4>
                                        <h4> Technology &nbsp;: React , ExpressJs , MongoDB , NodeJs</h4>
                                        <h4> Description : In this Applicaton a user can Rember the
                                            work for later and save the work for later. This Applicationis like Google
                                            Notes.</h4>
                                        <h3>Hobbies</h3>
                                        <p> <strong> 1 </strong>Playing VolleyBall </p>
                                        <p> <strong> 2 </strong>Gain knowledge about New Technology</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>